<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="hippocampus">
    <xacro:include filename="$(find fav_sim)/models/bluerov/urdf/bluerov_params.xacro" />
    <xacro:include filename="$(find fav_sim)/models/thruster/urdf/thruster_macro.xacro" />
    <xacro:include filename="$(find fav_sim)/models/range_sensor/urdf/range_sensor_macro.xacro" />

    <xacro:property name="thruster_xy" value="${thruster_r / 2**0.5}" />
    <link name="base_link">
        <inertial name="base_link_inertial">
            <mass value="${base_mass}" />
            <inertia ixx="${ixx}" ixy="0.0" ixz="0.0" iyy="${iyy}" iyz="0.0" izz="${izz}" />
        </inertial>
        <visual name="base_link_visual">
            <geometry>
                <mesh filename="file://$(find fav_sim)/models/bluerov/meshes/bluerov.dae" />
            </geometry>
        </visual>
    </link>

    <gazebo>
        <plugin name="buoyancy" filename="libbuoyancy.so">
            <relative_compensation>${buoyancy_compensation}</relative_compensation>
            <origin>${buoyancy_origin}</origin>
        </plugin>
        <plugin name="hydrodynamics" filename="libhydrodynamics.so">
            <added_mass_linear>${added_mass_linear}</added_mass_linear>
            <added_mass_angular>${added_mass_angular}</added_mass_angular>
            <damping_linear>${damping_linear}</damping_linear>
            <damping_angular>${damping_angular}</damping_angular>
        </plugin>
        <plugin name="barometer" filename="libbarometer.so">
            <link>base_link</link>
            <position>${barometer_position}</position>
            <noise>${barometer_noise}</noise>
        </plugin>
        <plugin name="joint_state" filename="libgazebo_ros_joint_state_publisher.so">
            <robotNamespace />
            <jointName>front_starboard_horizontal_thruster_propeller_joint,
                front_port_horizontal_thruster_propeller_joint,
                rear_starboard_horizontal_thruster_propeller_joint,
                rear_port_horizontal_thruster_propeller_joint,
                front_starboard_vertical_thruster_propeller_joint,
                front_port_vertical_thruster_propeller_joint,
                rear_starboard_vertical_thruster_propeller_joint,
                rear_port_vertical_thruster_propeller_joint
            </jointName>
            <updateRate>50.0</updateRate>
        </plugin>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>50.0</updateRate>
            <bodyName>base_link</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0.0</gaussianNoise>
            <frameName>map</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>imu/data</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>50.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <link name="imu_link">
        <inertial name="base_link_inertial">
            <mass value="1e-5" />
            <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0.0" izz="1e-6" />
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <origin xyz="${imu_position}" rpy="${imu_orientation}" />
        <parent link="base_link" />
        <child link="imu_link" />
    </joint>
    <gazebo reference="imu_joint">
        <preserveFixedJoint>true</preserveFixedJoint>
    </gazebo>


    <xacro:thruster parent="base_link" suffix="front_starboard_horizontal" xyz="0.14 -0.10 0" rpy="0 0 ${radians(45)}" turning_direction="cw" propeller_direction="cw" color="red" number="0" />
    <xacro:thruster parent="base_link" suffix="front_port_horizontal" xyz="0.14 0.10 0" rpy="0 0 ${radians(-45)}" turning_direction="cw" propeller_direction="cw" color="green" number="1" />
    <xacro:thruster parent="base_link" suffix="rear_starboard_horizontal" xyz="-0.14 -0.10 0" rpy="0 0 ${radians(135)}" turning_direction="ccw" propeller_direction="cw" color="grey" number="2" />
    <xacro:thruster parent="base_link" suffix="rear_port_horizontal" xyz="-0.14 0.10 0" rpy="0 0 ${radians(-135)}" turning_direction="ccw" propeller_direction="cw" color="grey" number="3" />

    <xacro:thruster parent="base_link" suffix="front_starboard_vertical" xyz="0.12 -0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="cw" propeller_direction="cw" color="red" number="4" />
    <xacro:thruster parent="base_link" suffix="front_port_vertical" xyz="0.12 0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="ccw" propeller_direction="cw" color="green" number="5" />
    <xacro:thruster parent="base_link" suffix="rear_starboard_vertical" xyz="-0.12 -0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="ccw" propeller_direction="cw" color="grey" number="6" />
    <xacro:thruster parent="base_link" suffix="rear_port_vertical" xyz="-0.12 0.22 0.06" rpy="0 ${radians(-90)} 0" turning_direction="cw" propeller_direction="cw" color="grey" number="7" />

    <xacro:range_sensor parent="base_link" prefix="range_sensor" xyz="${range_sensor_position}" rpy="${range_sensor_orientation}" />


</robot>
