<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="range_sensor" params="prefix parent xyz rpy">
        <xacro:include filename="$(find fav_sim)/models/range_sensor/urdf/range_sensor_params.xacro" />
        <xacro:property name="link" value="${prefix}_link" />
        <xacro:property name="joint" value="${prefix}_joint" />
        <link name="${link}">
            <inertial>
                <mass value="1e-5" />
                <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0.0" izz="1e-6" />
            </inertial>
        </link>

        <joint name="${joint}" type="fixed">
            <origin xyz="${xyz}" rpy="${rpy}" />
            <parent link="${parent}" />
            <child link="${link}" />
        </joint>
        <gazebo reference="${joint}">
            <preserveFixedJoint>true</preserveFixedJoint>
        </gazebo>

        <gazebo>
            <plugin name="${prefix}" filename="librange_sensor.so">
                <update_rate>7.0</update_rate>7.0
                <topic>ranges</topic>
                <range_noise_std>${noise_stddev}</range_noise_std>
                <max_fov_angle>${max_fov_angle}</max_fov_angle>
                <max_viewing_angle>${max_viewing_angle}</max_viewing_angle>
                <drop_probability>${drop_probability}</drop_probability>
                <max_detection_distance>${max_detection_distance}</max_detection_distance>
                <dist_drop_probability_exp>${drop_probability_exponent}</dist_drop_probability_exp>
            </plugin>
        </gazebo>
    </xacro:macro>
</robot>
