<launch>
    <arg name="vehicle_name" default="bluerov" />
    <include file="$(find fav_sim)/launch/gazebo_apriltag_tank_world.launch">
        <arg name="vehicle_name" value="$(arg vehicle_name)" />
    </include>
    <include file="$(find fav_sim)/launch/spawn_vehicle.launch" pass_all_args="true">
    </include>
</launch>
